<!-- By Thin Thin Oo 26/6/2024, For  View of Employee and Department Component  -->
<div >
  <!-- Items Per Page Dropdown, Add Department Button, and Search Input -->
  <div class="d-flex pr-3 justify-content-between align-items-center mb-3 flex-wrap">
    <!-- Items Per Page Dropdown -->
    <div class="d-flex align-items-center mb-2 mb-md-0">
      <label for="itemsPerPage" class="mb-0 mr-3">Display</label>
      <select id="itemsPerPage" class="form-control form-control-sm custom-select-box mr-2"
        (change)="onItemsPerPageChanged($event)">
        <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
      </select>
      <span>Departments</span>
    </div>

    <!-- Add Department Button and Search Input -->
    <div class="d-flex align-items-center mb-2 mb-md-0">
      <!-- Add Department Button with Large Plus Icon -->
      <button type="button" class="btn plus-btn  btn-md rounded mr-2 add-department-btn">
        <i class="bi bi-plus-lg"></i>
      </button>
      <!-- Search Input with Lens Icon -->
      <div class="input-group">
       
        <input type="text" id="search" class="form-control form-control-md" placeholder="Search"
          (input)="onSearchQueryChanged($event)" aria-label="Search" aria-describedby="search-icon">
      </div>
    </div>
  </div>


  <!-- Department Table -->
  <div class="table table-responsive ">
    <table class="table table-hover custom-table">
      <thead class="table-header">
        <tr>
          <th>Employee Name</th>
          <th>Department Name</th>
          <th>Job Position</th>
          <th>Can Access Data</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let department of paginatedDepartments">
          <tr *ngFor="let employee of department.employees">
            <td>{{ employee.name }}</td>
            <td>{{ department.name }}</td>
            <td>{{ employee.jobPosition }}</td>
            <td>{{ department.canAccessData }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>


  <!-- Pagination Controls -->
  <app-pagination [totalItems]="departments.length" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
    (pageChanged)="onPageChanged($event)">
  </app-pagination>
</div>