<div
  class="card d-flex bg-white justify-content-between flex-wrap flex-md-nowrap rounded shadow pt-2 pb-2 mb-3 pe-2 border-bottom">
  <h4 class="p-3">Meeting List</h4>

  <!-- Items Per Page Dropdown, Add Employee Button, and Search Input -->
  <div class="d-flex pr-3 justify-content-between align-items-center mb-3 flex-wrap">
    <!-- Items Per Page Dropdown -->
    <div class="d-flex align-items-center mb-2 mb-md-0">
      <label for="itemsPerPage" class="mb-0 mr-3">Display</label>
      <select id="itemsPerPage" class="form-control form-control-sm select-box mr-2"
        (change)="onItemsPerPageChanged($event)">
        <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
      </select>
      <span>Meetings</span>
    </div>

    <!-- Add Employee Button and Search Input -->
    <div class="d-flex align-items-center mb-2 mb-md-0">
      <!-- Add Employee Button with Large Plus Icon -->
      <button type="button" class="btn text-dark btn-md rounded mr-2" [routerLink]="['create-meeting']">
        <i class="bi bi-plus-lg"></i>
      </button>
      <!-- Search Input with Lens Icon -->
      <div class="input-group">
        <input type="text" id="search" class="form-control form-control-md" placeholder="Search" aria-label="Search"
          aria-describedby="search-icon" />
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <!-- Employee Table -->
    <table class="table table-hover custom-table">
      <thead class="table-header">
        <tr>
          <!-- <th>ID</th> -->
          <th>Meeting Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Seat</th>
          <th>Room</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let meeting of paginatedMeetings">
          <td (click)="viewMeeting(meeting, true)">
            {{ meeting.meetingName }}
          </td>
          <td (click)="viewMeeting(meeting, true)">
            {{ meeting.startDate }}
          </td>
          <td (click)="viewMeeting(meeting, true)">
            {{ meeting.endDate }}
          </td>
        <td (click)="viewMeeting(meeting, true)">
          {{ formatTime(meeting.startTime) }}
        </td>
        <td (click)="viewMeeting(meeting, true)">
          {{ formatTime(meeting.endTime) }}
        </td>
          <td (click)="viewMeeting(meeting, true)">
            {{ meeting.seat }}
          </td>
          <td (click)="viewMeeting(meeting, true)">
            {{ meeting.room }}
          </td>

          <td>
            <i class="bi bi-pencil" (click)="viewMeeting(meeting,false)"></i>
            <i class="bi bi-trash text-danger" (click)="openDeleteModal(deleteConfirmationModal, meeting)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Pagination Component at the bottom -->
  <app-pagination [totalItems]="meetings.length" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
    (pageChanged)="onPageChanged($event)">
  </app-pagination>

  <!-- delete-popup -->
  <!-- Delete Confirmation Modal -->
  <ng-template #deleteConfirmationModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Delete Confirmation</h5>
    </div>
    <div class="modal-body">Are you sure you want to delete this meeting?</div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">
        Cancel
      </button>
      <button type="button" class="btn btn-danger" (click)="confirmDelete(); modal.close('Ok click')">
        Delete
      </button>
    </div>
  </ng-template>

  <!-- end-delete-popup -->
</div>