.create-project-form {
    margin-bottom: 20px;
    background-color: #fff;
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4 ease;
}

h1 {
    color: #54B9B8;
    /* padding-top: 5%; */
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 550;
}

#about {
    /* padding: 3% 5%; */
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.10em;
    font-weight: 400;
    width: 100%;
}

.philo {
    /* margin-top: 3%;
    margin-bottom: 3%; */
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
}

#vision {
    /* padding: 3% 0; */
    margin: auto;
    text-align: center;
    width: 100%;
    background-color: whitesmoke;
}

.div-vision {
    width: 90%;
    /* margin: 3% auto; */
}

#team {
    margin: 3% auto 1% auto;
    text-align: center;
    width: 90%;
}

h2 {
    color:#54B9B8;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
}

.team-img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.team-member {
    margin: 15px 0;
}

.team-member h3 {
    font-size: 1.1em; /* Adjusted font size */
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.team-member p {
    font-size: 0.9em; /* Adjusted font size */
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #555; /* Lighter color for better contrast */
}

.icon {
    color: #54B9B8;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #0c6464;
}

footer p {
    font-size: 0.875rem;
    color: #333;
}

.text-justify {
    text-align: justify;
}
