<div class="container view-department-form">
  <div class="form-card">
    <form [formGroup]="departmentForm" (ngSubmit)="updateDepartment()" class="department-form">

      <div class="form-section-title">{{ !isEditMode ? 'Department Details' : 'Update Department' }}</div>

      <div class="form-group">
        <label for="name">Department Name <span class="text-star">*</span></label>
        <input type="text" class="form-control" id="name" formControlName="name" [readonly]="!isEditMode">
        <small
          *ngIf="departmentForm.get('name')?.invalid && (departmentForm.get('name')?.dirty || departmentForm.get('name')?.touched)"
          class="text-danger">Department Name is required</small>
      </div>

      <div class="form-group">
        <label for="title">Title <span class="text-star">*</span></label>
        <input type="text" class="form-control" id="title" formControlName="title" [readonly]="!isEditMode">
        <small
          *ngIf="departmentForm.get('title')?.invalid && (departmentForm.get('title')?.dirty || departmentForm.get('title')?.touched)"
          class="text-danger">Title is required</small>
      </div>

      <div class="form-group">
        <label for="location">Location <span class="text-star">*</span></label>
        <select class="form-control" id="location" formControlName="location" [disabled]="!isEditMode">
          <option value="">Select Location</option>
          <option>Building A, Floor 3</option>
          <option>Building B, Floor 1</option>
          <option>Building C, Floor 2</option>
        </select>
        <small
          *ngIf="departmentForm.get('location')?.invalid && (departmentForm.get('location')?.dirty || departmentForm.get('location')?.touched)"
          class="text-danger">Location is required</small>
      </div>

      <div class="form-group">
        <label for="status">Status <span class="text-star">*</span></label>
        <select class="form-control" id="status" formControlName="status" [disabled]="!isEditMode">
          <option value="Active">Active</option>
          <option value="Inactive">Inactive</option>
        </select>
        <small
          *ngIf="departmentForm.get('status')?.invalid && (departmentForm.get('status')?.dirty || departmentForm.get('status')?.touched)"
          class="text-danger">Status is required</small>
      </div>

      <div class="form-group">
        <label for="description">Description <span class="text-star">*</span></label>
        <textarea class="form-control" id="description" formControlName="description"
          [readonly]="!isEditMode"></textarea>
        <small
          *ngIf="departmentForm.get('description')?.invalid && (departmentForm.get('description')?.dirty || departmentForm.get('description')?.touched)"
          class="text-danger">Description is required</small>
      </div>

      <div class="form-group">
        <label for="canAccessData">Can Access Data</label>
        <input type="checkbox" class="form-check-input" id="canAccessData" formControlName="canAccessData"
          [disabled]="!isEditMode">
      </div>

      <button *ngIf="isEditMode" type="submit" class="btn btn-primary" [disabled]="!departmentForm.valid">Update
        Department</button>
      <button *ngIf="!isEditMode" type="button" class="btn btn-primary" (click)="onCancel()">Go Back List</button>
      <button *ngIf="isEditMode" type="button" class="btn btn-primary" (click)="onCancel()">Cancel</button>
    </form>
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  </div>
</div>